.vertical-timeline-element{
  margin:auto !important;
}

.vertical-timeline-element-content {
    visibility: visible !important;
    opacity: 1 !important;  /* Ensure elements are visible */
    transform: translateY(0) !important;  /* Force elements to their final position */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out !important;  /* Apply transitions */
    box-shadow: none;  
}
  
.vertical-timeline-element-date{
  text-align: start !important;
}

.vertical-timeline{
 width: 70% !important;
}

  .vertical-timeline-element-icon {
    visibility: visible !important;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1 !important;  /* Ensure icons are visible */
    transform: scale(1) !important;  /* Prevent scaling issues */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out !important;  /* Apply transitions */
    width: 40px !important;
    height: 40px !important;
    margin-left: -20px !important; 
    margin-top: 10px;
}
  
 
.vertical-timeline-element-content>span{
    visibility: hidden;
  }
  
  .custom-date {
    margin-bottom: 10px;
  }
  
  .custom-heading {
    margin: 0;
    color: black ;
    font-weight: bold;
  }
  
  .custom-span {
    font-size: 18px;
    color: #050505; /* Customize color as needed */
    display: block;
  }
  

  @media (max-width:700px) {
    .vertical-timeline-element-icon{
      margin-left: auto !important;
    }
  }